.contacts {
    display: flex;
    justify-content: center;
    padding-top: 10rem;;
    height: calc(10rem + 2px);
    background-color:#edeef3;
    font-family: 'Alegreya', serif;
    font-size: 18px;
    height: 40rem;
    font-weight: 600;
}